
table{
    border-collapse: collapse;
    /* border: 1px black solid; */
    width: 500px;
    height: 500px;
    align-items: center;
    text-align: center;
}

.title{
    border: 2px black solid;
    width: 250px;
    height: 250px;
    font-style: italic;
    font-size: 90px;
}

tr{
    border: 2px black solid;
}
td{
    border: 2px black solid;
}