table{
    width: 600px;
    height: 400px;
    
    border-collapse: collapse;
}

th{
    background-color: #bbddbb;
}

tr{
    text-align: center;

}

.greenbackground{
    background-color: #bbddbb;
}